@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-zinc-50: #fafafa;
  --color-zinc-900: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-zinc-50: #111827;  /* dark background equivalent */
    --color-zinc-900: #fafafa; /* light text equivalent */
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
